/* src/index.css */
@import "tailwindcss";

@theme {
  --animation-marquee: marquee 15s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}